.main-header {
    height: 250px;
    background-color: #FFBB70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.name {
    color: #FFFBDA;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: oblique;
    white-space: nowrap; 
    font-size: 6em;
}
@media(max-width: 768px){
    .name {
    color: #FFFBDA;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: oblique;
    white-space: nowrap; 
    font-size: 4em;
    }
}
.navbar.custom-navbar {
    background-color: #FFFBDA !important;
}
.p-5.text-center.bg-body-tertiary.custom-jumbotron{
    background-color: #f7f2c4 !important;
    background-image: url('./pythony.png') !important;
    background-size: cover; 
    background-position: center; 
    
    
}

.button-github{
    background-color: #640D6B !important;
    border-color: #640D6B;
}
.custom-footer{
    background-color: #ED9455;
    margin-top: 0 !important; /* Usuwa marginesy */
    border: none !important; /* Usuwa obramowanie */
}
.custom-form{
    background-color: #f7f2c4;
}
.bg-firebase{
    background-color: #df6a16 !important;
}
.bg-html-css{
    background-color: #da2727 !important;
}
.bg-node-js{
    background-color: #005e1f !important;
}
.bg-javascript{
    background-color: #ffda0b !important;
}
.bg-photoshop{
    background-color: blue !important;
}